html {
    height: 100%; /*This is here to help the body height*/
}

body {
    display: grid;
    grid-template-rows: minmax(150px, 20%) 1fr;
    grid-template-columns: minmax(400px, 20%) 1fr; /*CAN'T USE MINMAX ON WIDTH/HEIGHT*/
    border: solid 1px black;
    /* width: 100%; this is unnecessary*/
    height: 100%; /*This can only work with HTML specifying height, else browser dk what to take 100% of*/
    margin: 0;
    font-family: sans-serif;
}

#sidebar {
    display:grid;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    margin: 0;
    background-color: #1992D4;
}

#dashboard {
    font-family:sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-left: 38px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    margin-bottom: 72px;
}

ul {
    display:flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color:white;
    font-size: 36px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}



a:link { 
    text-decoration: none; 
    color: white;
    display: flex;
    align-items: center;
} 

a:active {
    text-decoration: none; 
    color: blue;
}

a:visited { 
    text-decoration: none; 
    color: white;
}

svg {
    color: white;
}

#dashboard-icon {
    width: 70px;
    height: 70px;
    filter: invert(1);
}

.icon {
    width: 36px;
    height: 36px;
    padding-right: 30px;
    filter: invert(1);
}

#header {
    display:grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    box-shadow: 0cm;
}

#main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #E2E8F0;
}