html {
    height: 100%; /*This is here to help the body height*/
}

body {
    display: grid;
    grid-template-rows: minmax(150px, 20%) 1fr;
    grid-template-columns: minmax(400px, 20%) 1fr; /*CAN'T USE MINMAX ON WIDTH/HEIGHT*/
    border: solid 1px black;
    /* width: 100%; this is unnecessary*/
    height: 100%; /*This can only work with HTML specifying height, else browser dk what to take 100% of*/
    margin: 0;
    font-family: sans-serif;
}

#sidebar {
    display:grid;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    margin: 0;
    background-color: #1992D4;
}

#dashboard {
    font-family:sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-left: 38px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    margin-bottom: 72px;
}

ul {
    display:flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color:white;
    font-size: 36px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}



a:link { 
    text-decoration: none; 
    color: white;
    display: flex;
    align-items: center;
} 

a:active {
    text-decoration: none; 
    color: blue;
}

a:visited { 
    text-decoration: none; 
    color: white;
}

svg {
    color: white;
}

#dashboard-icon {
    width: 70px;
    height: 70px;
    filter: invert(1); /*Turns black to white, inverting colors*/
}

.icon {
    width: 36px;
    height: 36px;
    padding-right: 30px;
    filter: invert(1);
}

#header {
    display:grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    box-shadow: 0cm;
    grid-template-rows: repeat(2, 1fr);
}

#top-row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 125px;
    grid-row: 1 / 2;
    padding-left: 100px;
    padding-right: 60px;
    /* margin-top: 50px;
    height: 50px; */
}

#search-icon {
    filter: invert(0);
    padding:0;
}

input {
    /* border: none; */
    width: 800px;
    height: 44px;
    border: none;
    border-radius: 50px;
    background-color: #E2E8F0;
    padding-left: 24px;
    font-size: 32px;
}

.spacer {
    width: 100px;
}

#notification-bell {
    display:flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

#bell {
    padding: 0px;
    filter: invert(0);
}

button {
    border: none;
    background-color: transparent;
}

.profile-pic {
    width:60px;
    height:60px;
    border-radius: 50%;
    overflow: hidden;
}

#name {
    font-weight: bold;
    font-size: 30px;
}

#second-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* height: 250px; */
    grid-row: 2 / 3;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 60px;
    padding-bottom: 30px;
}

#not-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#buttons {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#second-row-profile {
    width:80px;
    height:80px;
    border-radius: 50%;
    overflow: hidden;
}

#greeting {
    display:grid;
    grid-template-rows: 1fr 2fr;
    font-weight:bold;
}

#hello-there {
    font-size: 20px;
    margin:0;
}

#hello-there-name {
    font-size: 40px;
    margin-top:5px;
    margin-bottom:5px;
}

.second-row-header-button {
    background-color: #1992D4;
    font-weight:bold;
    color:white;
    border-radius: 30px;
    width:150px;
    height:60px;
    font-size: 25px;
    
}

#main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #E2E8F0;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    padding: 50px 30px 50px 30px;
}

.labels {
    color:black;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

#your-projects {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    margin-right: 30px;
}

#cards {
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.card {
    width: 600px;
    height: 300px;
    display:grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 40fr;
    border-radius: 20px;
    background-color: white;
}

.gold-bar {
    grid-area: 1 / 1 / 3 / 2; 
    background-color: #F0B429;
    border-radius: 20px 0 0 20px;
}

.card-contents {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 0px 30px 0px 30px;
    justify-content: center;
    overflow: hidden;
}

.card-title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0;
}

.card-description {
    font-size: 24px;
    margin-top: 0;
    color: gray;
}

.card-icons {
    grid-area: 2 / 1 / 2 / 3;
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    margin-right: 40px;
}

#announcements {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#announcements-card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    margin-right: 40px;
    border-radius: 20px;
}

.announcement {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 0px 30px 0px 30px;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.announcement:last-child {
    border-bottom: none;
}

.announcement-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.announcement-description {
    font-size: 16px;
    margin-top: 0;
    color: gray;
}

#trending {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.trending-profile {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    /* gap: 10px; */
    margin: 5px;
}

.trending-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-self: center;
}

.trending-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.trending-name {
    margin: 0;
    font-size: 16px;
}

.trending-description {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.trending-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    margin-bottom: 10px;
}

.trending-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#trending-card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    margin-right: 40px;
    border-radius: 20px;
}

.trending-profile {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    font-size: 20px;
}

.trending-profile-pic {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width:60px;
    height:60px;
    border-radius: 50%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending-name {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 4px;
    margin-bottom: 0px;
}

.trending-description {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 4px;
    margin-top: 0px;
}