html {
    height: 100%; /*This is here to help the body height*/
}

body {
    display: grid;
    grid-template-rows: minmax(150px, 20%) 1fr;
    grid-template-columns: minmax(150px, 20%) 1fr; /*CAN'T USE MINMAX ON WIDTH/HEIGHT*/
    border: solid 1px black;
    /* width: 100%; this is unnecessaryu*/
    height: 100%; /*This can only work with HTML specifying height, else browser dk what to take 100% of*/
    margin: 0;
}

#sidebar {
    display:grid;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    border: solid 1px black;
    margin: 0;
}

#header {
    display:grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    border: solid 1px black;
}

#main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border: solid 1px black;
}